@media(max-width: 1000px){
    html{
        font-size: 15px;
    }
    .sentences .explain{
        width: 90%;
        font-weight: 400;
        font-size: 0.75rem;

    } 
}

@media(max-width: 670px){
    html{
        font-size: 13px;
    }

    .top-wrapper{
        margin-bottom: 0;
    }
    .sentences .explain{
        margin-top: 8rem;
        line-height: 1.25em;
        color: white;
        font-weight: 900;
        font-size: 1rem;
    }
    .container{
        line-height: 25px;
        font-size: 1rem;
        margin-left: 1rem;
        width: 80%;
    }

    header{
        flex-wrap: wrap;
        width: 2.5rem;
        height: 100%;
        left: calc(100% - 2.5rem);
    }
    
    .btn{
        top: 0;
        left: 0;
        flex: auto;
        height: 25%;
    }
    
    .btn a, #title a{
        padding: 0 0.5rem;
        font-size: 1rem;
        padding-top: 5rem;
    }
  }
